<!-- start custom head tags -->

<!-- theme color -->
<meta name="theme-color" content="#361803">
<meta name="msapplication-TileColor" content="#361803">
<meta name="msapplication-navbutton-color" content="#361803">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
<link rel="mask-icon" type="image/png" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}" color="#361803">

<!-- end custom head snippets -->
