// ========================================================================== //
// Fira Sans
// ========================================================================== //
$fira-sans-path: '../fonts/Fira_Sans';

@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Italics
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans';
    src: url('#{$fira-sans-path}/FiraSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

// ========================================================================== //
// Fira Sans Condensed
// ========================================================================== //
$fira-sans-condensed-path: '../fonts/Fira_Sans_Condensed';

@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Italics
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'FiraSans Condensed';
    src: url('#{$fira-sans-condensed-path}/FiraSansCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

// ========================================================================== //
// Fira Code
// ========================================================================== //
$fira-code-path: '../fonts/Fira_Code';

@font-face {
    font-family: 'Fira Code';
    src: url('#{$fira-code-path}/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

// ========================================================================== //
// Sarabun
// ========================================================================== //
$sarabun-path: '../fonts/Sarabun';

@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// Italics
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sarabun';
    src: url('#{$sarabun-path}/Sarabun-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

// ========================================================================== //
// Font Definitions
// ========================================================================== //

$header-font: 'FiraSans Condensed', 'Sarabun', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'FiraSans', 'Sarabun', Helvetica, Arial, sans-serif;
$code-font: 'Fira Code', Lucida Console, Terminal, monospace;