@import "color-palette";
@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

// ========================================================================== //
// Layout
// ========================================================================== //

body {
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

  // Horizontal padding variable for content area calculations
  // (i.e. 2*h_margins + 2*h_padding)
  --content-hpad: calc(2*10px + 2*10px);
}

// Specifically target the main container to ensure it takes up the full viewport height
// This is only required for the shippou pattern on the homepage
body>.grid-container {
  min-height: 100vh;
  align-items: start;
}

.grid-container {
  display: grid;
  grid-template-rows: 75px auto;
  align-items: center;
}

#header {
  grid-area: header;
}

#nav-logo {
  display: block;
  width: fit-content;
  overflow: hidden;
  padding-left: 10px;
}

section {
  margin: 0;
  padding: 0;
  overflow-y: hidden;

  #title {
    margin: 25px 0;
    padding: 0;
  }
}

#content {
  grid-area: content;
  margin: 10px;
  padding: 50px 10px;
  max-width: calc(var(--content-width) - var(--content-hpad));
}

@media print, screen and (min-width: 1200px) {
  .grid-container {
    --content-width: 900px;
    grid-template-columns: 1fr 200px var(--content-width) 100px 1fr;
    grid-template-areas:
      "header header  header  header  header"
      "...... sidebar content minimap ......";
  }

  #nav-logo {
    grid-column: 3;
  }
}

@media print, screen and (max-width: 1200px) {
  .grid-container {
    --content-width: 750px;
    grid-template-columns: 1fr 100px var(--content-width) 50px 1fr;
    grid-template-areas:
      "header header  header  header  header"
      "...... sidebar content minimap ......";
  }

  #nav-logo {
    grid-column: 3;
  }
}

@media print, screen and (max-width: 900px) {
  .grid-container {
    --content-width: 750px;
    grid-template-columns: 1fr var(--content-width) 50px 1fr;
    grid-template-areas:
      "header header  header  header"
      "...... content minimap ......";
  }

  #nav-logo {
    grid-column: 2;
  }
}

@media print, screen and (max-width: 800px) {
  .grid-container {
    --content-width: 100vw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content";
  }

  #nav-logo {
    justify-self: center;
    grid-column: 1;
  }
}

// ========================================================================== //
// Container Styles
// ========================================================================== //

body {
  background: linear-gradient(to bottom, nth($secondary-greys, 5), nth($secondary-greys, 4));
}

.shippou-pattern {
  background-image:
    -webkit-radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%),
    -webkit-radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%);
  background-image:
    radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%),
    radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%);
  background-repeat: repeat;
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

#header {
  background: nth($secondary-greys, 5);
  border-bottom: 4px solid nth($secondary-greys, 3);
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
}

#content {
  background-color: nth($secondary-greys, 4);
  border: 1px solid nth($primary-greys, 3);
  border-radius: 5px;
}

#title {
  border: 0;
  outline: none;
}

// ========================================================================== //
// Text Styles
// ========================================================================== //

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: $body-font;
  color: nth($white-tones, 3);
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: nth($white-tones, 2);
  margin:0 0 10px;
  font-family: $header-font;
  font-weight: normal;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size: 28px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  margin-top: 15px;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
  line-height: 24px;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

a {
  color: nth($primary-tints, 2);
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: nth($primary-tints, 1);
    text-decoration: underline;
  }
}

a small {
  font-size: 11px;
  color: nth($black-tones, 5);
  margin-top: -0.6em;
  display: block;
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-family: $body-font;
  font-weight: bold;
}

blockquote {
  border-left: 3px solid nth($tertiary-shades, 2);
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

// Text highlight style
::selection {
  color: inherit;
  background: nth($primary-shades, 4);
  text-shadow: none;
}

::-moz-selection {
  color: inherit;
  background: nth($primary-shades, 4);
  text-shadow: none;
}

#title {
  h1 {
    font-family: $body-font;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
  }

  p {
    color: nth($white-tones, 1);
    font-family: $body-font;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
  }
}

.credits {
  font-size: 11px;
  font-family: $body-font;
  font-style: italic;
  font-weight: normal;
  color: nth($white-tones, 5);
}

// ========================================================================== //
// Table Styling
// ========================================================================== //

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 3px double nth($tertiary-greys, 2);
  color: nth($white-tones, 1);
  font-family: $header-font;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid nth($tertiary-greys, 2);
}

dt {
  color: nth($white-tones, 1);
  font-family: $body-font;
  font-weight: normal;
}

// ========================================================================== //
// Code Styling
// ========================================================================== //

code {
  font-size: 13px;
  font-family: $code-font;
  color: nth($white-tones, 2);
  text-shadow: 0px 1px 0px rgba(0,0,0,.3);

  // Inline code styling
  margin: 0 4px;
  padding: 0px 6px;
  background: nth($black-tones, 3);
  border-radius: 2px;
  border: 1px solid nth($black-tones, 2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  display: inline-block;
}

// Code blocks
pre {
  padding: 8px 15px;
  background: nth($black-tones, 3);
  border-radius: 2px;
  border: 1px solid nth($black-tones, 2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: scroll;

  // Inline code style override
  code {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    display: inherit;
  }
}

// ========================================================================== //
// Other Styling
// ========================================================================== //

#nav-logo {
  h1 {
    font-family: $code-font;
    font-size: 36px;
    font-weight: normal;
    color: nth($white-tones, 1);
    margin: 0;
    padding: 0;
  }

  a,h1:hover {
    color: nth($primary-tints, 2);
    text-decoration: none;
  }

  a,h1:active {
    color: nth($primary-tints, 2);
    font-weight: bold;
  }
}

// Horizontal rule
hr {
  border: 0;
  border-bottom: 3px double nth($primary-greys, 3);
  outline: none;
  height: 0;
  margin: 5px 0 20px 0;
}

img {
  max-width: 100%;
}

.credits {
  margin-top: -10px;
  display: inline-block;
}

@media print, screen and (min-width: 600px) {
  .credits {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}


@media print, screen and (max-width: 600px) {
  .credits {
    margin-top: 5px;
  }
}

.post-meta {
  display: block;
  text-align: right;
}