@import "color-palette";
@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

// ========================================================================== //
// Layout
// ========================================================================== //

body {
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

  // Horizontal padding variable for content area calculations
  // (i.e. 2*h_margins + 2*h_padding)
  --content-hpad: calc(2*0.4em + 2*0.6em);
}

// Specifically target the main container to ensure it takes up the full viewport height
// This is only required for the shippou pattern on the homepage
body>.grid-container {
  min-height: 100vh;
  align-items: start;
}

.grid-container {
  display: grid;
  align-items: center;
  grid-template-rows: 4.2em auto;
  grid-template-columns: 1fr var(--content-width) 1fr;
  grid-template-areas:
    "header header  header"
    "...... content ......";
}

#header {
  grid-area: header;
}

#nav-logo {
  display: block;
  width: fit-content;
  grid-column: 2;
  overflow: visible;
  padding-left: 0.6em; // Need to match the content padding-left
}

.credits {
  margin-top: -10px;
  display: inline-block;
}

.post-meta {
  display: flex;
  flex-direction: column;

  span {
    margin: -0.2em 0;
  }
}

section {
  margin: 0;
  padding: 0;
  overflow-y: visible;
}

#title {
  margin: 0;
  padding: 0;

  & > h1 {
    margin: 1em 0;
    padding: 0;
  }
}

#content {
  grid-area: content;
  margin: 1em 0.4em;
  padding: 4em 0.6em;
  max-width: calc(var(--content-width) - var(--content-hpad));
}

@media print, screen and (min-width: 65em) {
  .grid-container {
    --content-width: 55em;
    --minimap-width: 10em;
  }

  .credits {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}

@media print, screen and (min-width: 57.5em) and (max-width: 65em) {
  .grid-container {
    --content-width: 50em;
    --minimap-width: 7.5em;
  }

  .credits {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}

@media print, screen and (min-width: 45em) and (max-width: 57.5em){
  .grid-container {
    --content-width: 45em;
  }

  #nav-logo {
    justify-self: center;
  }

  .credits {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}

@media print, screen and (max-width: 45em) {
  .grid-container {
    --content-width: 100vw;
  }

  #nav-logo {
    justify-self: center;
  }

  .credits {
    margin-top: 5px;
  }
}

// ========================================================================== //
// Container Styles
// ========================================================================== //

body {
  background: linear-gradient(to bottom, nth($secondary-greys, 5), nth($secondary-greys, 4));
}

.shippou-pattern {
  background-image:
    -webkit-radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%),
    -webkit-radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%);
  background-image:
    radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%),
    radial-gradient(closest-side, transparent 99%, rgba(34,37,46,0.5) 100%);
  background-repeat: repeat;
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

#header {
  background: nth($secondary-greys, 5);
  border-bottom: 4px solid nth($primary-shades, 1);
  box-shadow: 0px 1px 4px rgba(0,0,0,.25);
}

#content {
  background-color: nth($secondary-greys, 4);
  border: 1px solid nth($primary-greys, 3);
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.25);
}

#title {
  border: 0;
  outline: none;
}

// ========================================================================== //
// Text Styles
// ========================================================================== //

body {
  font-family: $body-font;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: nth($white-tones, 3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 500;
  margin: 2em 0 1em 0.6em;
  color: nth($white-tones, 2);
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-top: 2.4em;
}

h2 {
  font-size: 1.8em;
  margin-top: 2.2em;
}

h3 {
  font-size: 1.6em;
  margin-top: 2em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  // Paragraph indentation
  text-indent: 1em;
  text-align: left;

  // Image caption styles
  &.caption {
    font-size: 0.95em;
    font-family: $body-font;
    font-style: italic;
    font-weight: 400;
    color: nth($white-tones, 5);
    text-align: center;
    margin-top: -1em;
    margin-bottom: 0.6em;
  }

  // Specific styles for info, note, important, and warning paragraphs
  &.info, &.note, &.important, &.warning {
    padding: 0.6em 1em;

    &::before {
      position: relative;
      left: -1.2em;
      text-shadow: 0px 1px 0px rgba(0,0,0,.3);
    }
  }

  &.info {
    border-left: 5px solid nth($secondary-tints, 1);
    background-color: nth($secondary-shades, 3);
    color: nth($secondary-tints, 5);
    font-weight: 500;

    &::before {
      content: "💬";
    }
  }

  &.note {
    border-left: 5px solid nth($tertiary-shades, 2);
    background-color: nth($tertiary-shades, 4);
    color: nth($tertiary-tints, 5);
    font-weight: 500;

    &::before {
      content: "📝";
    }
  }

  &.important {
    border-left: 5px solid nth($primary-tints, 1);
    background-color: nth($primary-shades, 4);
    color: nth($primary-tints, 5);
    font-weight: 600;

    &::before {
      content: "⭐";
    }
  }

  &.warning {
    border-left: 15px double nth($primary-tints, 1);
    border-right: 15px double nth($primary-tints, 1);
    background-color: nth($primary-tints, 5);
    color: nth($primary-shades, 5);
    font-weight: 700;

    &::before {
      content: "⚠️";
    }
  }
}

p, table, pre, ul, ol, dl {
  margin-bottom: 1.5em;
}

a {
  color: nth($primary-tints, 2);
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: nth($primary-tints, 1);
    text-decoration: underline;
  }
}

a {
  small {
    font-size: 0.9em;
    color: nth($black-tones, 5);
    margin-top: -0.8em;
    display: block;
  }
}

ul{
  list-style-image:url('../svg/chevron-double-right.svg');
}

strong {
  font-size: 1.05em;
  font-weight: 600;
}

blockquote {
  margin: 0 0.6em;
  padding: 0.6em 1em;
  border-left: 3px solid nth($primary-tints, 2);
  background-color: adjust-color(nth($primary-greys, 5), $alpha: -0.25);
  font-weight: 300;

  & > p {
    color: nth($primary-tints, 4);
    text-indent: 0;
    padding: 0;
    margin: 0;
    text-align: justify;
  }
}

// Text highlight style
::selection {
  color: inherit;
  background: nth($primary-shades, 3);
  text-shadow: none;
}
::-moz-selection {
  color: inherit;
  background: nth($primary-shades, 3);
  text-shadow: none;
}

#title {
  & > h1 {
    font-family: $header-font;
    font-weight: 600;
    font-size: 2.4em;
    text-align: center;
    line-height: 1.2em;
  }

  & > p {
    color: nth($white-tones, 1);
    font-family: $header-font;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
  }
}

.post-meta {
  text-align: right;
  font-size: 0.8em;
  color: nth($white-tones, 3);
}

.credits {
  font-size: 0.8em;
  font-family: $body-font;
  font-style: italic;
  font-weight: normal;
  color: nth($white-tones, 5);
}

// ========================================================================== //
// Table Styling
// ========================================================================== //

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 3px double nth($tertiary-greys, 2);
  color: nth($white-tones, 1);
  font-family: $header-font;
  font-weight: normal;
  background: nth($tertiary-shades, 4);
  font-size: 1.1em;

  &:not(:first-child) {
    border-left: 1px solid nth($tertiary-greys, 2);
  }
}

td {
  text-align: left;
  padding: 0.6em 0.8em;
  border-bottom: 1px solid nth($tertiary-greys, 2);

  &:not(:first-child) {
    border-left: 1px solid nth($tertiary-greys, 2);
  }
}

dt {
  color: nth($white-tones, 1);
  font-family: $body-font;
  font-weight: normal;
}

// ========================================================================== //
// Code Styling
// ========================================================================== //

code {
  font-family: $code-font;
  font-size: 0.8em;
  color: nth($white-tones, 2);
  text-shadow: 0px 1px 0px rgba(0,0,0,.3);
  text-indent: 0;

  // Inline code styling
  margin: 0 2px;
  padding: 0px 4px;
  background: nth($black-tones, 3);
  border-radius: 2px;
  border: 1px solid nth($black-tones, 3);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  display: inline-block;
  line-height: 1.5em;
}

// Code blocks
pre {
  padding: 8px 15px;
  background: nth($black-tones, 3);
  border-radius: 2px;
  border: 1px solid nth($black-tones, 2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: scroll;

  // Inline code style override
  code {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    display: inherit;
    line-height: 2em;
  }
}

// ========================================================================== //
// Other Styling
// ========================================================================== //

#nav-logo {
  display: flex;
  align-items: center;
  
  h1 {
    font-family: $code-font;
    font-size: 2.6em;
    font-weight: normal;
    color: nth($white-tones, 1);
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

    h1 {
      &:hover {
        color: nth($primary-tints, 2);
      }

      &:active {
        color: nth($primary-tints, 1);
        font-weight: 600;
      }
    }
  }
}

// Horizontal rule
hr {
  border: 0;
  border-bottom: 1px solid nth($primary-greys, 3);
  outline: none;
  height: 0;
  margin: 5px 0 20px 0;
}

// Image styling
p:has(img) {
  text-align: center;
  text-indent: 0;
  margin: 20px 0;
}

img {
  max-width: 99%;
  max-height: 600px;
  border: 1px solid nth($primary-greys, 3);
  border-radius: 5px;
}