<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-base.html %}
    {% include head-custom.html %}
  </head>

  <body>
    <div class="shippou-pattern grid-container">
      {% include header.html %}

      <main id="content">
        <section>
          <div id="title" style="text-align: center; margin-top: 50px;">
            <h1>404 🤔</h1>
            <h2>The requested page could not be found.</h2>
            <i>Check your URL and try again?</i>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>