<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-base.html %}
    {% include head-custom.html %}
  </head>

  <body>
      <div id="header">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <nav>
          <span class="nav-left"><a href="{{ site.github.profile }}">Github</a></span>
          <span class="nav-right"><a href="{{ site.author.url-home }}">Homepage</a></span>
        </nav>
      </div>

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
        </div>
        <hr>

        <div id="credits">
          <span class="credits left">Personal blogsite by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Base theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}
      </section>
    </div>
  </body>
</html>