<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-base.html %}
    {% include head-custom.html %}
  </head>

  <body>
    <div class="grid-container">
      {% include header.html %}

      <main id="content">
        <section>
          <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
          </div>

          <div id="credits">
            <span class="credits left">Blogsite by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
            <span class="credits right">Hosted on GitHub Pages &mdash; Based on the <a href="https://https://github.com/pages-themes/midnight">midnight</a> theme template</span>
          </div>
          <br>
          <hr>
          <br>

          {{ content }}
        </section>
      </main>
    </div>
  </body>
</html>