<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>

  <body>
      <div id="header">
        <nav>
          <h2>{{ site.title | default: site.github.repository_name }}</h2>
          <span class="credits left" href="{{ site.github.profile }}">Github Profile</span>
          <span class="credits right"><a href="{{ site.author.url-blog }}">Blog Home</a></span>
        </nav>
      </div>

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ page.title }}</h1>
          <span class="credits left">By <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">{{ page.date | date: "%B %-d, %Y" }}</span>
          <hr>
        </div>

        {{ content }}
      </section>
    </div>
  </body>
</html>